@if (Initialized)
{
    <BaseBodyWithAside>
        <Main>
            @foreach (CouncilElectionVote vote in CurrentElections.Votes)
            {
                <div class="mb-3">
                    <ElectionAnnouncementCard AllMembers="AllMembers" ElectionVote="vote"/>
                </div>
            }
        </Main>
        <Aside>
            <div>
                <ElectionsAside Election="CurrentElections"/>
            </div>
        </Aside>
    </BaseBodyWithAside>
}