@page "/squad/manage"
@attribute [Authorize]
@inherits ElementPageBase<Member>
@if (_isInitialized)
{
    <select class="form-select" @bind="SelectedPartNumber">
        @foreach (var part in Squad.SquadParts)
        {
            <option value="@part.Part" selected="@(part.Part == SelectedPartNumber)">@part.ToString(false)</option>
        }
    </select>
    <BaseBodyWithAside>
        <Main>
            @if (SelectedPart?.Members is null)
            {
                <LoadingSpinner/>
            }
            else
            {
                <Table Columns="ColumnDefinitions" InitialSort="(1, false)" SelectionChanged="SelectionChanged" Source="@((IReadOnlyCollection<Member>)SelectedPart.Members)" TItem="Member"/>
            }
        </Main>
        <Aside>

        </Aside>
    </BaseBodyWithAside>
}
else
{
    <LoadingSpinner/>
}