@page "/management/addaward"
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Описание</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" @bind="Model.Nickname">
    </div>
</div>