@page "/"
@using TaskStatus = AndNetwork9.Shared.Enums.TaskStatus
@attribute [Authorize]


<TaskShortCard Task="@Task"></TaskShortCard>
<div class="mt-2"></div>
<TaskShortCard Task="@ChildTask"></TaskShortCard>