@layout MainLayoutWithoutBar
@page "/candidate/ok"
@attribute [AllowAnonymous]

<div class="d-flex justify-content-center align-items-center mt-3">
    <h1>
        Заявка в клан отправлена!
    </h1>
</div>