<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="56BFE1D1-ADA9-46A3-96CE-698B165DE518"
    Publisher="CN=Andromeda"
    Version="0.0.6.0" />

  <Properties>
	<DisplayName>AndromedaNet.Client</DisplayName>
	<PublisherDisplayName>Andromeda</PublisherDisplayName>
	<Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AndromedaNet"
        Description="And9.Client.Clan"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
	    <Extensions>

		    <!--Specify which CLSID to activate when toast clicked-->
		    <desktop:Extension Category="windows.toastNotificationActivation">
			    <desktop:ToastNotificationActivation ToastActivatorCLSID="2C704CA0-F709-4260-B593-C275BD2BF91B" />
		    </desktop:Extension>

		    <!--Register COM CLSID LocalServer32 registry key-->
		    <com:Extension Category="windows.comServer">
			    <com:ComServer>
				    <com:ExeServer Executable="And9.Client.Clan.Windows.Desktop\And9.Client.Clan.Windows.Desktop.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
					    <com:Class Id="2C704CA0-F709-4260-B593-C275BD2BF91B" DisplayName="Toast activator"/>
				    </com:ExeServer>
			    </com:ComServer>
		    </com:Extension>

	    </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
