<h1>@Title</h1>

<div class="row">
    <main class="col-12 col-md-8 alert">@Main</main>
    <aside class="col-12 col-md-4 alert alert-dark">@Aside</aside>
</div>
<div class="row">
    <footer class="col">
        @Footer
    </footer>
</div>