<div class="row">
    <h1>@Title</h1>
</div>
<div class="row">
    <main class="col-12 col-md-8">@Main</main>
    <aside class="col-12 col-md-4">
        <div class="alert alert-dark">
            @Aside
        </div>
    </aside>
</div>
<div class="row">
    <footer class="col">
        @Footer
    </footer>
</div>