<div class="d-flex justify-content-center">
    <div style="max-width: 300px">
        <EditForm autocomplete="on" Model="Credentials">
            <label class="form-label mt-3">Никнейм</label>
            <InputText @bind-Value="Credentials.Nickname" class="form-control" type="text"/>

            <label class="form-label mt-3">Пароль</label>
            <InputText @bind-Value="Credentials.Password" class="form-control" type="password"/>

            <div class="form-text mt-3 text-danger" hidden="@(!ErrorLogin)">Неверный логин или пароль</div>
            <button class="btn btn-primary mt-3" disabled="@(!LoginEnabled)" @onclick="LoginAsync" type="submit">Войти</button>
        </EditForm>
    </div>
</div>