<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link @(PreviewEnabled ? "active" : string.Empty)" @onclick="() => PreviewEnabled = true">Предпросмотр</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(PreviewEnabled ? string.Empty : "active")" @onclick="() => PreviewEnabled = false">Редактирование</button>
    </li>

</ul>
@if (PreviewEnabled)
{
    @Text.FromMarkdown()
}
else
{
    <textarea @bind="Text" class="form-control" style="height: 50vh"/>
    @if (ResetFunc is not null && SaveFunc is not null)
    {
        <div class="d-flex gap-3 justify-content-between mt-3">
            <button class="btn btn-secondary" @onclick="ResetFunc" type="button">Возврат</button>
            <button class="btn btn-primary" @onclick="() => SaveFunc(GetterFunc())" type="button">Сохранить</button>
        </div>
    }
}