<nav class="navbar navbar-expand-lg navbar-light bg-warning mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/war">Война отрядов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repo">Репозитории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/election">Выборы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/voting">Голосования</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member">Игроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/squad">Отряды</a>
                </li>
                @if (AuthStateProvider.CurrentMember.Rank >= Rank.Advisor)
                {
                    <li class="navbar-nav nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdownMenuButton2" data-bs-toggle="dropdown">Управление</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="/management/addmember">Добавить участника…</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/management/addaward">Выдать награду…</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/management/message">Отправить сообщения…</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            <div class="navbar-nav nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown">@AuthStateProvider.CurrentMember?.Nickname</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <a class="dropdown-item" href="/member/@(AuthStateProvider.CurrentMember?.Id)">Профиль</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/member/edit">Изменить данные…</a>
                    </li>
                    <li>
                        <button class="dropdown-item" @onclick="async () => await Logout()">Выйти</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>