<nav class="bg-warning mb-3 navbar navbar-expand-lg navbar-light">
    <div class="container">
        <button class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse d-lg-flex justify-content-between navbar-collapse" id="navbarNav">
            <ul class="me-auto navbar-nav">
                <li class="nav-item">
                    <a class="disabled nav-link" href="/war">Война отрядов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repo">Репозитории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/election">Выборы</a>
                </li>
                <li class="nav-item">
                    <a class="disabled nav-link" href="/voting">Голосования</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member">Игроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/squad">Отряды</a>
                </li>
                @if (AuthStateProvider.CurrentMember.Rank >= Rank.Advisor || AuthStateProvider.CurrentMember.CommanderLevel == SquadCommander.Captain)
                {
                    <li class="dropdown navbar-nav nav-item">
                        <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#" id="dropdownMenuButton2" role="button">Управление</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            @if (AuthStateProvider.CurrentMember.Rank >= Rank.Advisor)
                            {
                                <li>
                                    <a class="dropdown-item" href="/management/addmember">Добавить участника…</a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" href="/management/addaward">Выдать награду или штраф…</a>
                            </li>
                            @if (AuthStateProvider.CurrentMember.Rank >= Rank.Advisor)
                            {
                                <li>
                                    <a class="dropdown-item" href="/management/message">Отправить сообщения…</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <div class="dropdown navbar-nav nav-item">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#" id="dropdownMenuButton1" role="button">@AuthStateProvider.CurrentMember?.Nickname</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <a class="dropdown-item" href="/member/@(AuthStateProvider.CurrentMember?.Id)">Профиль</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/member/edit">Изменить данные…</a>
                    </li>
                    <li>
                        <button class="dropdown-item" @onclick="async () => await Logout()">Выйти</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>